# Hyperledger Fabric
network/organizations/
network/bin/
network/builders/
network/config/
network/channel-artifacts/
network/explorer/wallet/
network/explorer/pgdata/

# Environment
.env
network/.env

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
*.log
network/explorer/logs/

# OS
.DS_Store
Thumbs.db
