# Hyperledger Fabric image versions
IMAGE_TAG=2.5.4
CA_IMAGE_TAG=1.5.7

# Docker Compose project name
COMPOSE_PROJECT_NAME=fabric-network

# TLS
CORE_PEER_TLS_ENABLED=true
ORDERER_GENERAL_TLS_ENABLED=true
